#accordion_wrapper {
	position: relative;
	max-width: 1170px;
	margin:0 auto;
	padding:15px;
}

.accordion {
	display: block;
	margin-top: 5px;
	padding: 25px 15px;
	color: $white;
	font-family: $base-font-family;
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
	background-color: $color-primary;
	border-bottom: 5px solid $color-primary-border;
	
	&:after {
		position: absolute;
		right: 40px;
		font-family: 'fontawesome';
		font-style: normal;
		content: '\f107';
		font-size: 28px;
	}
	
	&:hover {
		background-color:$color-secondary;
		border-bottom: 5px solid $color-secondary-border;
	}
	
}
.active {
	background-color:$color-secondary ;
	border-bottom: 5px solid $color-secondary-border;
	
	&:after {
		font-family: 'fontawesome';
		content: '\f106';
		font-size: 28px;
	}
}

.panel {
	position: relative;
	color: $color-text;
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.3;
	padding: 20px;
	border: 1px solid #ebebeb;	
}
