$color-primary: #9e38b0 ;
$color-primary-border: #6f277d ;

$color-secondary: #6844b7;
$color-secondary-border: #4c3185;

$white:#fff;
$black: 000;

$color-text: #5c5c5c;
$font-body: Ariel, 'Helvetica', sans-serif;

$base-font-family: $font-body ;